{% extends 'base.html.twig' %}
{% set body_id = 'eleve' %}

{% block title %}
    Eleve - Médias
{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-2" id="logo_geoline">
                <img src="{{ asset('bundles/app/img/Geoline.fr.jpg') }}" width="100px" height="100px">
                <br>
                <a class="btn btn-default margin_top_2" href="{{ path("eleve") }}"><span class="glyphicon glyphicon-arrow-left"></span> Retour</a>
            </div>
            <div class="col-lg-offset-3 col-lg-2 padding2">
                <a class="btn btn-default">Session Eleve > Médias</a>
            </div>
        </div>
    <div class="row">
        <div class="col-lg-offset-2 col-lg-8">
            <div class="col-lg-offset-1 col-lg-5" id="documentaire">
                <p class="text-center">Documentaires</p>
                <ul>
                    <li><a href="https://www.youtube.com/watch?v=QXeebAk9t-0" target="_blank">Les unités de la centrale géothermiquede Bouillante</a></li>
                    <li><a href="https://www.youtube.com/watch?v=DgFcVouaxaE" target="_blank">Bouillante capitale de la géothermie</a></li>
                    <li><a href="https://www.youtube.com/watch?v=fZvAL3bfqwY" target="_blank">La Dominique l’île 100% verte</a></li>
                    <li><a href="https://www.youtube.com/watch?v=GGbhCJefTSA" target="_blank">Géothermie le souffle de la Caraïbe</a></li>
                </ul>
            </div>
            <div class="col-lg-offset-1 col-lg-5" id="mission" >
                <p class="text-center">Mission-GEOTREF</p>
                <ul>
                    <li><a href="https://youtu.be/s-fdfDkvW1w" target="_blank">Présentation et objectifs de la mission sur ANTEA - partie 1</a></li>
                    <li><a href="https://youtu.be/5acPkTUXJso" target="_blank">Présentation et objectifs de la mission sur ANTEA - partie 2</a></li>
                    <li><a href="https://youtu.be/uPspv2g0oxY" target="_blank">Présentation et objectifs de la mission sur ANTEA - partie 3</a></li>
                    <li><a href="https://www.youtube.com/watch?v=mSCQLj_NpAQ" target="_blank">L’utilité du dragage</a></li>
                    <li><a href="https://youtu.be/lHXuveWLmeQ" target="_blank">Le dragage</a></li>
                    <li><a href="https://youtu.be/Tej7lZexRkk" target="_blank">Démonstration : le dragage en mer</a></li>
                    <li><a href="https://youtu.be/Jbrl32dPsSU" target="_blank">La combinaison de survie</a></li>
                </ul>
            </div>
        </div>
    </div>
    </div>

    <footer class="navbar-fixed-bottom">
        <ol class="breadcrumb">
            <li><a href="{{ path('eleve') }}">Session Eleve</a></li>
            <li class="active"><a href="{{ path('eleve_medias') }}">Medias</a></li>
        </ol>
    </footer>


{% endblock %}

{% block javascripts %}
    <script>

        $('#computer').on('click',function(){
            $('.element').removeClass("hide");
        });

    </script>
{% endblock %}
